    {{#if visible}}
    {{else}}
        <a class="d-none d-md-block" href="/cart" id="shop_cart_home"><i class="fas fa-shopping-cart fa-2x text-white" aria-hidden="true" id="shop_cart_home_icon"><span class="" style="font-size:18px">({{cart.totalQty}})</span></i></a>
        <a class="btn btn-outline-white btn-sm d-md-none" href="/cart" id="cart_navbar"><b>Shopping cart ({{cart.totalQty}})</b></a>
    {{/if}}
    {{#if user}}
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Hi,&nbsp;{{user.username}}</b></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile">My account</a>
                <a class="dropdown-item" href="/profile">My orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/auth/logout">Logout</a>
            </div>
        </div>
    {{else}}
        <a class="btn btn-outline-white btn-sm" href="/auth/login" id="signIn_navbar">
        <b>Signup/Login</b></a>
    {{/if}}