<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Redgini | Order placed!</title>
    <link rel="stylesheet" href="/stylesheets/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/products.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/final.css"/>

  </head> 
  <body id="final">
    {{>header}}
    {{>orderCancel}}
    <div class="container">
      <div class="row" style="margin-top:50px">
      <div class="col-md-8 col-sm-12 col-xs-12">
         <div class="card shadow_depth_1" id="frame">
            <h1 id="thankYou">THANK YOU...</h1>
            {{!-- <h5 id="orderNo">Order number : #NSK007</h5> --}}
            <p id="msg">We have received your order and it has been confirmed. We will give you confirmation call as soon as possible. You will receive an email confirmation shortly regarding the order. </p>
             <p id="delTime"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Delivery time and date:&nbsp;&nbsp;{{orderDetails.delTime}}<br><label id="time"></label>&nbsp;|&nbsp;<label id="date">{{orderDetails.delDate}}</label></p>
             <p id="delAddress"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Delivery address:</p>
             <p id="address">{{orderDetails.userAddressLine1}}, {{orderDetails.userAddressLine2}}, {{orderDetails.userAddressLine3}}, Nashik, Maharashtra</p>
             <div class="row">
                 <div class="col-md-4 col-sm-6 col-xs-6"><a href="/products/blackforest"><button id="shopBtn" class="btn btn-sm">Place new order here!</button></a></div>
                 <div class="col-md-4 col-sm-6 col-xs-6"><button id="shopBtn" class="btn btn-sm" data-toggle="modal" data-target="#changeOrCancel">Order change/cancellation?</button></div>
                 <div class="col-md-4"></div>
             </div>
         </div>
      </div>
      
      <div class="col-md-4 col-sm-12 col-xs-12">
         <div class="card shadow_depth_1" id="frame">
         <h3 id="orderHeading">My order summary</h3>
            <div id="summaryOfItems">
                <div id="listHeader" class="row">
                    <div class="col-5">Product</div>
                    <div class="col-3">Qty</div>
                    <div class="col-4">Net Cost</div>
                </div>
                <hr style="background-color:black">
                {{#each cart.items}}
                    <div class="row listItems">
                        <div class="col-5">{{this.item.name}}</div>
                        <div class="col-3">{{this.cakeQty}}<small> ({{this.cakeWt}}Kg)</small></div>
                        <div class="col-4">Rs. {{this.netPrice}}</div>
                    </div>
                {{/each}}
                <hr style="background-color:black">
                <div class="row totalItems">
                    <div class="col-5">Total</div>
                    <div class="col-3">{{cart.totalQty}}</div>
                    <div class="col-4">Rs.{{cart.totalPrice}}</div>
                </div>
            </div>

         </div>
      </div>
     </div>
   </div>
   <br><br>
    {{>footer}}
    <script src="/javascripts/dependencies/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
    <script src="/javascripts/dependencies/bootstrap.min.js"></script>
  </body>