<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css">
    <link rel="stylesheet" href="/stylesheets/error.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/socialLogin.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/partners.css" />
    <link rel="stylesheet" href="/stylesheets/policies.css">
    <link rel="stylesheet" href="/stylesheets/products.css" />
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/final.css" />
    <link rel="stylesheet" href="/stylesheets/shoppingCart.css" />
    <link rel="stylesheet" href="/stylesheets/userProfile.css">
</head>

<body id="userProfile">
    {{>header}}
    <div id="wrapper" class="container">
        <div class="row" id="contentWrapper">
            <div class="col-md-3 col-sm-3">
                <div class="align-self-center" style="flex-direction: column">
                    <p style="text-align:center">
                        {{#if user.profilePic}}
                        <img id="userPic" class="rounded-circle testimonials_img" src="{{user.profilePic}}" alt="user3" width="80" height="80" /> {{else}}
                        <img id="userPic" class="rounded-circle testimonials_img" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/user.png"
                            alt="user3" width="80" height="80" /> {{/if}}
                    </p>
                    <p id="username">{{user.username}}</p>
                </div>
                <div id="userTabs" class="list-group">
                    <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#underConstruction">
                        <i class="fas fa-user"></i>&nbsp;&nbsp;My profile</a>
                    <a href="/profile/my-orders" class="list-group-item list-group-item-action">
                        <i class="fas fa-address-card"></i>&nbsp;&nbsp;My orders</a>
                    <a href="/profile/my-referral-code" class="list-group-item list-group-item-action">
                        <i class="fas fa-book"></i>&nbsp;&nbsp;Referral code</a>
                    <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#underConstruction">
                        <i class="fas fa-credit-card"></i>&nbsp;&nbsp;Wallets</a>
                    <a href="/auth/logout" class="list-group-item list-group-item-action">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <p id="referHeader">Woohhoo...Refer and Earn some money !</p>
                <div id="referralRulesWrapper">
                    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0">
                                        Generate your referral code
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                                <div class="card-body">
                                    {{#if user.myRefCode}}
                                    <div id="showRefCodeWrapper">
                                        <ul id="refCodeData">
                                            <li id="refCodeText">
                                                <span>Your referral code</span>
                                                <br>
                                                <br>
                                                <span id="userRefCode">{{user.myRefCode}}</span>
                                                <br>
                                                <br>
                                            </li>
                                            <li id="refCodeText">
                                                <span>Referral code use count</span>
                                                <br>
                                                <br>
                                                <span id="userRefCode">{{user.myRefCodeCount}}</span>
                                                <br>
                                                <br>
                                            </li>
                                            <li id="refCodeMsg">
                                                Order cake online on
                                                <code style="color:#c11e2b">https://redgini.com</code> and use my referral code
                                                <b style="font-size:15px">{{user.myRefCode}}</b> to get
                                                <b style="font-size:15px">10% discount</b>
                                                <br> with
                                                <b style="font-size:15px">FREE HOME DELIVERY</b>
                                            </li>
                                            <button id="copyToClipboardBtn" class="btn btn-sm btn-elegant waves-effect px-2" onclick="copyReferralCode()" data-clipboard-target="#refCodeMsg">
                                                <b>Copy referral code
                                                    <i class="fas fa-arrow-up"></i>
                                                </b>
                                            </button>
                                        </ul>
                                    </div>
                                    {{else}}
                                    <div id="generateRefCodeWrapper">
                                        <p>Enter PayTM number for cashback</p>
                                        <input style="width:20%; margin-bottom:5px" class="form-control form-control-sm" type="text" name="cashbackPhone" id="cashbackPhone"
                                            maxlength="10">
                                        <button id="{{user.username}}" class="btn btn-sm btn-danger" onclick="generateRefCode()">Generate my referral code</button>
                                        <p id="generateRefCodeText">Click
                                            <b>"Generate my referral code"</b> to get your referral code and start making some
                                            money!
                                        </p>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        How to share referral code & Earn ?
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                                <div class="card-body">
                                    <ul id="referralRulesList">
                                        <li>Just share your referral code as mentioned above with your friends, relatives and
                                            colleagues
                                            <b>using WhatsApp, Facebook, Instagram or anything</b>
                                        </li>
                                        <li>When they enter your referral code while ordering the cake, you will receive a notification
                                            on mail or WhatsApp
                                            <b>via automated system</b>
                                        </li>
                                        <li>After that we will cashback to
                                            <b>your Paytm account</b>
                                        </li>
                                        <li>You can earn minimum Rs.35-50/-</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                        How much I can earn ?
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                                <ul id="referralRulesList">
                                    <li>You will get fix
                                        <b>10% cashback</b> if your referral code is used
                                        <br>
                                        <span>Ex.</span>
                                        <ul id="cashbackRules">
                                            <li>below Rs.500/-, both will get
                                                <b>Upto Rs.50/- cashback</b>
                                            </li>
                                            <li>Rs.500-1000/-, both will get
                                                <b>Upto Rs.100/- cashback</b>
                                            </li>
                                            <li>Rs.1000-1500/-, both will get
                                                <b>Upto Rs.150/- cashback</b>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Whoever uses your referral code will also receive
                                        <b>10% cashback</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script type="text/javascript" src="/javascripts/userProfile.js"></script>
</body>