  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css">
    <link rel="stylesheet" href="/stylesheets/error.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/socialLogin.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/partners.css"/>
    <link rel="stylesheet" href="/stylesheets/policies.css">
    <link rel="stylesheet" href="/stylesheets/products.css"/>
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/final.css"/>
    <link rel="stylesheet" href="/stylesheets/shoppingCart.css"/>
    <link rel="stylesheet" href="/stylesheets/userProfile.css">
  </head>
  <body id="cartpage">
    {{>header}}
    
    <div id="offerCarousal" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/prakashbakery.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/toccata.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-sm-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/buy3get1.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-md-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/vmcelebration.jpg" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/midnightdelivery.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/healthywheat.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-sm-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/surprisedelivery.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-md-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/buy3get1.jpg" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/freehomedelivery.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/rumcake.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-sm-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/toccata.jpg" alt="First slide">
              </div>
              <div class="col-md-3 col-sm-4 col-6 d-none d-md-block">
                <img class="d-block w-100" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/prakashbakery.jpg" alt="First slide">
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr>
    {{#if cart.totalQty}}
    <div class="container-fluid" style="background-color:#f3f2f2;">
        <div class="container">
            <div class="row justify-content-between" id="cartItemList">
              <div class="col-md-7">
                  <div class="list-group">
                    {{#each cart.items}}
                      <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between cartCakeNameAndCost">
                          <h5 class="mb-1">{{this.item.name}} | {{this.pdtWt}}&nbsp;Kg</h5>
                          <small>Net cost - Rs. {{this.netPrice}}/-</small>
                        </div>
                        <p class="mb-1 cakeQty">Total quantity - {{this.pdtQty}}</p>
                        <div class="d-flex w-100 justify-content-between">
                          {{#if this.bakeInCart}}
                            <small>{{this.pdtWt}} Kg cost - Rs.{{this.unitCost}}/-</small>
                            <a href="/remove/{{this.item.pdtId}}{{this.pdtWt}}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                          {{else}}
                            <small>{{this.pdtWt}} Kg cost - Rs.{{this.unitCost}}/-</small>
                            <a href="/remove/{{this.item.cakeId}}{{this.pdtWt}}{{this.egg}}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                          {{/if}}
                        </div>
                         {{#if this.bakeInCart}}
                          {{else}}
                              <small>Is cake egged - {{this.egg}}</small>
                          {{/if}}
                      </div>
                    {{/each}}
                  </div>
                  <a href="/products/cakes" id="addMoreCakesBtn" class="btn btn-sm btn-danger" type="button">Add more cakes</a>
              </div>
              <div class="col-md-4">
                  <div id="paymentDetails">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Total cost - </h5>
                          <small>Rs. {{cart.totalPrice}} /-</small>
                        </div>
                    <p>Free home delivery</p>
                  </div>
                  <a href="/checkout" id="checkoutBtn" type="button" class="btn btn-sm btn-danger">Checkout now</a>
                  <div id="upcomingPaymentOptions" class="hidden-sm-down">
                    <p>We accept online payments via</p>
                    <div class="row justify-content-around">
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/paytm.jpg" alt="paytm">
                      </div>
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/visa.png" alt="visa">
                      </div>
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/mastercard.png" alt="mastercard">
                      </div>
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/upi.png" alt="UPI">
                      </div>
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/tez.jpg" alt="tez">
                      </div>
                      <div class="col-md-2 col-2">
                        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/pe.jpg" alt="phonepe">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container" id="emptyCartMsg">
      <div class="row justify-content-center">
        <img src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/emptycart.jpg" alt="empty shopping cart">
        <div class="w-100"></div>
        <a id="startShopping" href="/products/cakes" class="btn btn-danger btn-sm" type="button">Start with some cakes!</a>
      </div>
    </div>
    {{/if}}
    {{>footer}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
      
    <script src="/javascripts/shoppingCart.js" type="text/javascript"></script>
  </body>